#mainArticle {
    width: 100%;
    background: radial-gradient(ellipse at top, rgb(244, 247, 247), rgba(228, 247, 244, 0.781), transparent);
}
.mainArticle_container {
    padding: 20px;
    height: auto;
}

.mainArticle_text {
    font-size: 16px;
    text-align: center;
    color: $color;
}
.mainArticle_text p {
    text-align: left;
    color: black;
    line-height: 1.5;
    font-size: 16px;
}

.mainArticle_slider {
    width: 520px;
    height: 380px;
    float: right;
    text-align: center;
    margin-left: 10px;
    
}
.mainArticle_slider img {
    width: 520px;
    height: 350px;
    border: 2px solid yellow;
    border-radius: 10px;
    display: none;
}
.mainArticle_slider img:first-child {
    display: block;
}

.btnNext, .btnPrev {
    text-align: center;
    margin-top: 5px;
    padding: 5px;
    width: 100px;
    border-radius: 5px;
    border: 1px solid yellow;
    background-color: $color;
    color:yellow;
}

P { 
    text-indent: 1.5em; /* Отступ первой строки */
    text-align: justify; /* Выравнивание по ширине */
}

h2 strong {
    font-size: 1.4em;
}
.rabota p {
    padding: 5px;
    color: $color;
    text-align: center;
    font-size: 20px;
}
.adress p {
    padding: 5px;
    color: $color;
    text-align: left;
    font-size: 20px;
}
.adress {
    float: left;
}
.phone {
    float: right;
    margin-right: 20px;
}
.phone p {
    padding: 5px;
    color: $color;
    text-align: center;
    font-size: 20px;
}
