#nav {
    background: linear-gradient(rgb(244, 247, 247),rgb(243, 243, 238));
    padding: 1%;
    position: sticky;
    margin-bottom: 5px;
}
ul {
    text-align: center;
}
ul li {
    text-align: center;
    display: inline-block;
    text-indent: 1.5em;
}
ul li a {
text-decoration: none;
color: black;
font-weight: bold;
}