@import 'header', 'footer', 'article', 'nav', 'siteAds';
* {
    margin: 0;
    padding: 0;
}
body {
    display: grid;
    grid-template-areas:
    'header header'
    'nav nav'
    'article ads'
    'footer footer';
    grid-template-rows: 1fr 50px 7fr 1fr;
    grid-template-columns: 1fr 20%;
    background-color: rgb(255, 254, 241);
    font-family: Montserrat, Roboto Merriweather;
    margin: 0 50px;
}
#header {
    grid-area: header;
}
#nav {
    grid-area: nav;
}
#mainArticle {
    grid-area: article;
}
#siteAds {
    grid-area: ads;
}
#footer {
    grid-area: footer;
}